
<h1>Welcome to Berhe's-profile !</h1>
<body>
    <div class="form-group">
        <ul>
      <li>Name: BERHE  <br>  <img src="https://th.bing.com/th/id/OIP.SkFTVIb1JUH7bs18b0PXuwHaHa?pid=ImgDet&rs=1" height="40%" width="30%" alt="my lovely cat img"/>
   </li>
      <li>Country of Birth: ETHIOPIA</li>
      <li> My Hobbies are</li>
      <ul>
      <li> Coding</li>
      <li>Reading</li>
      <li> Spending time with family</li>
      <li> Cooking</li>
      <li>Listening to Music</li>
    </ul>
         </ul>
    </div>	
</body>
