
<div class="m-5">
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Joel's Profile" routerLinkActive="active" routerLink="joel">Joel</a>
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Merry's Profile" routerLinkActive="active" routerLink="merry">Merry</a>
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Matt's Profile" routerLinkActive="active" routerLink="matt">Matt</a>
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Roger's Profile" routerLinkActive="active" routerLink="roger">Roger</a>
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Berhe's Profile" routerLinkActive="active" routerLink="berhe">Berhe</a>
<a class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Edwin's profile" routerLinkActive="active" routerLink="edwin">Edwin</a>
</div>